.football-main-container {
  background: linear-gradient(
    269.02deg,
    rgba(21, 25, 121, 0.83) 55.53%,
    rgba(39, 46, 223, 0.83) 78.74%
  );
  min-height: 100vh;
  width: 100vw;
}

.football-main-container .football-container {
  margin: 2rem, 2rem auto;
  position: relative;
}
.sports {
  font-size: 50px;
  font-weight: 700;
}
.sportspara {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.i17 {
  width: 100px;
  height: 70px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  top: 2rem;
  right: 5rem;
  position: absolute;
}
.dis {
  font-size: 17px;
  font-weight: 900;
  line-height: 24.2px;
  text-align: left;
}
.div {
  margin-left: 50%;
}
.bg-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.i16 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 80%;
  z-index: -1;
}

.i15 {
  width: 400px;
  height: 400px;
  z-index: 0;
  left: 40%;
  top: 50%;
  position: absolute;
}

.football-container {
  position: relative; /* Parent container */
  width: 100vw; /* Adjust width as needed */
  height: 60vh; /* Example height */
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.side-btn {
  position: fixed; /* Fixed positioning for the entire viewport */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  display: flex;
  gap: 10px; /* Spacing between buttons */
}

.btn171,
.btn172 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 24px;
  color: #ffffff;
  /* Remove link underline */
}

.btn171 {
  background-color: blue; /* Blue */
  color: #ffffff;
  box-shadow: 1px;
}

.btn172 {
  background-color: #ffffff; /* White */
  color: #d80847; /* Red icon */
  box-shadow: 1px; /* Optional border */
}

/* .football-main-container {
    background: linear-gradient(
      269.02deg,
      rgba(21, 25, 121, 0.83) 55.53%,
      rgba(39, 46, 223, 0.83) 78.74%
    );
    height: 100vh;
    width: 100vw;
  }
  
  .i16 {
    z-index: -1;
    width: 200px;
    height: 200px;
    margin-top: 15rem;
  }
  
  .i15 {
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 200px;
    
  }

  
  .i17 {
    margin-left: 65%;
  }
  
  .btn171 {
    width: 70px;
    height: 70px;
    background: #141cdd;
    border-radius: 50%;
    border-width: 1px;
    border-color: #141cdd;
    color: #ffffff;
  }
  
  .btn172 {
    width: 70px;
    height: 70px;
    background: #ffffff;
    border-radius: 50%;
    border-width: 1px;
    border-color: #ffffff;
    color: #141cdd;
  }
  
  .btnsgrp {
    margin-top: 80%;
  } */
